
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

      <div class="product-image">
        <a :href="imageLink"> 
          <img v-bind:src="image" :alt="altText">
        </a>
      </div>

      <div class="product-info">
        <h1>{{ product }}</h1>
        <!-- <p v-if="inStock && inventory > 10">In stock</p> -->

        <p v-if="inventory > 10">In stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
        <p v-else>Out of stock</p>

        <p v-show="onSale">On Sale!</p>
      </div>

      <p>{{ description }}</p>
    </div>
  </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>

<!-- 
v-show is like v-if, but it's more efficient if items are
displayed more frequently. 
v-if removes from dom
v-show just adds the style display: none so it can't be seen.
-->

